.detail-Course {
  .wrap-detailCourse {
    // .header-detailCourse {
    // }
    .body-detailCourse {
      width: 90%;
      padding: 30px 0 50px 0;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 8fr 4fr;
      column-gap: 30px;
      .Information-Course {
        .tittle-course {
          padding: 0px 15px;
          font-size: 18px;
          margin-bottom: 20px;
          span {
            padding: 3px 20px;
            margin-left: 10px;
            background-color: $color-pr-4;
            color: white;
            border-radius: 13px;
            font-size: 14px;
          }
        }
        .info-content {
          padding: 20px 20px 20px 0;
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          justify-items: center;
          .borderxx {
            border-left: 1px solid #ebebeb;
            border-right: 1px solid #ebebeb;
          }
          .item-content {
            width: 100%;
            height: 100%;

            .content {
              p {
                text-align: center;
                font-size: 16px;
                color: #303030;
                p {
                  // text-align: center;
                  font-size: 14px;
                  color: grey;
                }
                i {
                  color: rgba(255, 255, 0, 0.836);
                }
              }
              button {
                padding: 10px 15px !important;
                font-size: 14px;
              }
            }
            .last-content {
              text-align: right;
            }
          }
          .teacher-content {
            display: flex;
            justify-content: space-around;
            align-items: center;
          }
          .teacher-img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
          }
        }
        .image-detail-course {
          box-sizing: border-box;
          overflow: hidden;
          border: 5px solid $color-se-3;
          box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.5);
          position: relative;
          &:hover {
            img {
              transform: scale(1.1);
              transition: all 0.3s ease-out;
            }
          }
          img {
            width: 100%;
            height: 400px;
            transition: all 0.3s ease-out;
            background-position: center;
            background-size: cover;
          }
          .dc-overflow {
            @include absolute(0, 0, 100%, 100%);
            background-color: rgba(0, 0, 0, 0.2);
            z-index: 10;
          }
        }
      }

      .FearureCourse {
        .featre-tittle {
          padding: 0px 15px;
          font-size: 22px;
          margin-bottom: 20px !important;
          text-transform: uppercase;
        }
        ul {
          list-style: none;
          padding: 0px 15px;
          .mota {
            max-height: 100px;
            overflow-y: scroll;
          }
          li {
            padding: 15px 0px;
            i {
              color: $color-pr-4;
              margin-right: 10px;
            }

            span {
              font-size: 16px;
              font-family: $font-title;
              span {
                font-weight: 700;
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 1256px) {
    .wrap-detailCourse {
      .body-detailCourse {
        .Information-Course {
          .tittle-course {
            span {
              font-size: 12px;
            }
          }
          .info-content {
            padding: 20px 0;
            grid-template-columns: repeat(4, 1fr);
            .item-content {
              .content {
                p {
                  font-size: 14px;
                  p {
                    font-size: 12px;
                  }
                }
                button {
                  padding: 10px 13px !important;
                  font-size: 12px;
                }
              }
            }
            .teacher-img {
              width: 50px;
              height: 50px;
            }
          }
          .image-detail-course {
            box-sizing: border-box;
            overflow: hidden;
            border: 3px solid $color-se-3;
            box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.5);
            position: relative;

            img {
              height: 300px;
            }
          }
        }

        .FearureCourse {
          .featre-tittle {
            padding: 0px 15px;
            font-size: 22px;
          }
          ul {
            padding: 0px 15px;
            li {
              padding: 15px 0px;
              span {
                font-size: 14px;

                span {
                  font-weight: 600;
                }
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 992px) {
    .wrap-detailCourse {
      .body-detailCourse {
        .Information-Course {
          .tittle-course {
            span {
              font-size: 12px;
            }
          }
          .info-content {
            padding: 15px 0;
            grid-template-columns: repeat(4, 1fr);
            .item-content {
              .content {
                p {
                  font-size: 12px;
                  p {
                    font-size: 10px;
                  }
                }
                button {
                  padding: 10px !important;
                  font-size: 8px;
                }
              }
            }
            .teacher-img {
              width: 40px;
              height: 40px;
            }
          }
          .image-detail-course {
            img {
              height: 280px;
            }
          }
        }

        .FearureCourse {
          .featre-tittle {
            padding: 0px 15px;
            font-size: 16px;
          }
          ul {
            padding: 0px 10px;
            li {
              padding: 10px 0px;
              span {
                font-size: 12px;

                span {
                  font-weight: 600;
                }
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    .wrap-detailCourse {
      .body-detailCourse {
        .Information-Course {
          .tittle-course {
            span {
              font-size: 12px;
            }
          }
          .info-content {
            padding: 5px 0;
            grid-template-columns: repeat(2, 1fr);
            justify-items: left;
            justify-content: flex-start;

            .item-content {
              .content {
                padding: 0 20px;
                p {
                  text-align: right;
                  font-size: 12px;
                  p {
                    font-size: 10px;
                  }
                }
                button {
                  padding: 10px !important;
                  font-size: 8px;
                }
              }
            }
            .teacher-img {
              width: 40px;
              height: 40px;
            }
          }
          .image-detail-course {
            img {
              height: 280px;
            }
          }
        }

        .FearureCourse {
          .featre-tittle {
            padding: 0px 10px;
            font-size: 12px;
          }
          ul {
            padding: 0px 10px;
            li {
              padding: 10px 0px;
              span {
                font-size: 12px;

                span {
                  font-weight: 600;
                }
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 576px) {
    .wrap-detailCourse {
      .body-detailCourse {
        grid-template-columns: 1fr;
        .Information-Course {
          .tittle-course {
            span {
              font-size: 12px;
            }
          }
          .info-content {
            padding: 5px 0;
            grid-template-columns: repeat(2, 1fr);
            justify-items: left;
            justify-content: flex-start;

            .item-content {
              .content {
                padding: 0 20px;
                p {
                  text-align: right;
                  font-size: 12px;
                  p {
                    font-size: 10px;
                  }
                }
                button {
                  padding: 10px !important;
                  font-size: 8px;
                }
              }
            }
            .teacher-img {
              width: 40px;
              height: 40px;
            }
          }
          .image-detail-course {
            img {
              height: 280px;
            }
          }
        }

        .FearureCourse {
          margin-top: 30px;
          border-top: 1px solid #ebebeb;
          .featre-tittle {
            padding: 10px;
            text-align: center;
            font-size: 18px;
          }
          ul {
            padding: 0px 10px;
            li {
              padding: 10px 0px;
              i {
                font-size: 20px;
                margin-right: 20px;
              }
              span {
                text-align: left;
                font-size: 14px;

                span {
                  font-weight: 600;
                }
              }
            }
          }
        }
      }
    }
  }
}
