.banner {
  width: 100%;
  height: 250px;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  position: relative;

  .overflow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .content {
    padding: 100px 0px;
    width: 80%;
    margin: 0 auto;
    position: relative;

    .title {
      position: absolute;
      bottom: 20px;
      left: 0;
      width: 100%;

      color: white;
      text-align: left;
      font-size: $fs-lg;
      font-weight: $fw-bold-2;
      letter-spacing: 0.5px;
      .title-route {
        color: $color-pr-1;
        font-size: $fs-md;
        .custom-color {
          color: $color-se-3;
          font-family: $font-text;

          line-height: 18px;
          text-align: left;
          text-transform: capitalize;
        }
      }
    }
  }
  @media screen and (max-width: 1256px) {
  }
  @media screen and (max-width: 992px) {
  }
  @media screen and (max-width: 768px) {
    width: 100%;
    height: 200px;

    .content {
      padding-top: 100px;

      .title {
        font-size: $fs-lg - 10;

        .title-route {
          font-size: $fs-md - 4;
          .custom-color {
            color: $color-se-3;
            font-family: $font-text;
          }
        }
      }
    }
  }
  @media screen and (max-width: 576px) {
    width: 100%;
    height: 180px;

    .content {
      padding-top: 70px;
      .title {
        font-size: $fs-lg - 14;

        .title-route {
          font-size: $fs-md - 6;
          .custom-color {
            color: $color-se-3;
            font-family: $font-text;
          }
        }
      }
    }
  }
}
