* {
  box-sizing: border-box;
}
.detail-cart {
  .row {
    display: flex;
    padding: 30px;
    padding-left: 100px;
    min-height: 80vh;
  }
  .list-cart {
    width: 70%;
    padding: 20px;
    .content {
      width: 100%;
      .header-list-cart {
        position: relative;
        display: flex;
        padding: 15px 40px 15px 90px;
        align-items: center;
        background: black;
        justify-content: space-between;
        @include text(white, $fs-md, $fw-bold-2);
        p {
          margin-right: 62px;
        }
        &::before {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          background: #ffffff47;
          top: -5px;
          left: -5px;
          box-shadow: 0 0 2px 0 #00000087;
          z-index: 99;
        }
      }
    }
    .mct-list-cart {
      overflow-y: overlay;
      max-height: 500px;
      padding: 0 15px;
      margin-top: 5px;
      .no-course {
        text-align: center;
        margin-top: 50px;
        @include text(rgba(255, 0, 0, 0.7), $fs-md + 2, $fw-bold-2);
      }
      &::-webkit-scrollbar {
        width: 5px;
      }
      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }
      &::-webkit-scrollbar-thumb {
        background: rgb(121, 115, 115);
        max-height: 10px;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
    }
  }
  .bill {
    width: 30%;
    padding: 20px;
    height: fit-content;
    margin-top: 20px;
    box-shadow: 4px 4px 5px 0 black;
  }

  @media screen and (max-width: 1256px) {
  }
  @media screen and (max-width: 992px) {
    .list-cart {
      width: 70%;
      padding: 20px;
      .content {
        width: 100%;
        .header-list-cart {
          position: relative;
          display: flex;
          padding: 12px 37px 12px 80px;

          justify-content: space-between;
          @include text(white, $fs-md - 3, $fw-bold-2);
          p {
            margin-right: 62px;
          }
          &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            background: #ffffff47;
            top: -5px;
            left: -5px;
            box-shadow: 0 0 2px 0 #00000087;
            z-index: 99;
          }
        }
      }
      .mct-list-cart {
        overflow-y: overlay;
        max-height: 500px;
        padding: 0 15px;
        margin-top: 5px;
        .no-course {
          text-align: center;
          margin-top: 50px;
          @include text(rgba(255, 0, 0, 0.7), $fs-md - 2, $fw-bold-2);
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    .list-cart {
      width: 70%;
      padding: 20px;
      .content {
        width: 100%;
        .header-list-cart {
          position: relative;
          display: flex;
          padding: 11px 34px 11px 80px;

          justify-content: space-between;
          @include text(white, $fs-md - 7, $fw-bold-2);
          p {
            margin-right: 40px;
          }
        }
      }
      .mct-list-cart {
        overflow-y: overlay;
        max-height: 500px;
        padding: 0 15px;
        margin-top: 5px;
        .no-course {
          text-align: center;
          margin-top: 50px;
          @include text(rgba(255, 0, 0, 0.7), $fs-md - 2, $fw-bold-2);
        }
      }
    }
  }
  @media screen and (max-width: 576px) {
    .row {
      display: flex;
      flex-direction: column;
      padding: 30px;
      padding-left: 100px;
      min-height: 80vh;
      .bill {
        width: 100%;
        padding: 20px;
        height: fit-content;
        margin-top: 20px;
        box-shadow: 4px 4px 5px 0 black;
      }
      .list-cart {
        width: 100%;
        padding: 20px;
      }
    }
  }
}
